<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Baby Names</title>
    <link rel="icon" href="~/favicon.jpg" />
    <link rel="license" href="~/scripts/ATTRIBUTION.txt" />
    <link rel="stylesheet" href="~/scripts/main.css" />
    <script defer>
		window.initialData = @Json.Serialize(ViewBag.InitialData);
	</script>
    <script defer src="~/scripts/main.js"></script>
</head>

<body>
<div id="react-root"></div>
</body>

</html>