.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 1rem;
}

.buttons button {
	flex-grow: 1;
}

.yea {
	/* background-color: green; */
}

.nay {
	/* background-color: red; */
}

.done {
	font-size: 3rem;
}
