<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Baby Names - Login</title>
	<link rel="icon" href="~/favicon.jpg" />
	<link rel="license" href="~/scripts/ATTRIBUTION.txt" />
</head>

<body>
	<script src="https://accounts.google.com/gsi/client" async defer></script>
	<div id="g_id_onload"
		data-client_id="145111985452-vlliq8jo6aaafnt1gfbplgubldeel4rh.apps.googleusercontent.com"
		data-ux_mode="redirect"
		data-login_uri="/login/complete">
	</div>
	<div class="g_id_signin" data-type="standard"></div>
</body>

</html>
