.container {
	width: 75%;
	height: 100vh;
	text-align: center;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.centered {
	justify-content: center;
}
.nonCentered {
	padding-top: 6rem;
}
